body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

.card {
	background-color: steelblue;
	color: white;
	padding: 20px;
	text-align: center;
	border-radius: 8px
	flex: 1 1 200px;
}